@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


body{
    margin: 0;
    padding: 0;
    background:linear-gradient(black, rgb(0, 21, 35));
    min-height: 200vh;
    color: white;
    overflow-x: hidden;
}


.name{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin-left: 7%;
    margin-top: 2%;
    font-weight: 500;
    transition: .3s;
}

.name:hover{
    color: rgb(0, 255, 255);
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 7%;
}
nav button{
    background: none;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: .9em;
    font-weight: 300;
    margin-left: .4em;
    margin-top: 2%;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;
}

nav button:hover{
    background-color: rgb(0, 21, 35);
    color: rgb(0, 255, 255);
    box-shadow: 0 0 100px rgb(0, 255, 255);
    
}


@media only screen and (max-width: 650px){
    header{
        flex-direction: column;
        align-items: center;
    }
    nav{
        margin: 0;
    }
}
/* navbar and header ends */


#intro{
    height: 100vh;
}

.mainName {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    font-weight: bold;
    color: rgb(0, 234, 255);
    text-shadow: 0 0 10px rgba(0, 217, 255, 0.492);
    opacity: 1;
    margin: 0.5em 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

.mainName:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 100px rgb(255, 255, 255);
    opacity: 1;
    cursor: pointer;
}

.subName {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    color: rgba(0, 234, 255, 0.465);
    opacity: 1;
    margin: 0.5em 0;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
}

#eventsButton{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    color: rgba(0, 234, 255, 0.465);
    opacity: 1;
    margin: 0.5em 0;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    background: none;
    border: none;
    cursor: pointer;
}   

#eventsButton:hover {
    color: rgb(0, 213, 255);
    text-shadow: 0 0 50px rgb(255, 255, 255);
    opacity: 1;
    cursor: pointer;
}

/* cards */


#cardDeck{
    background-color: black;
    min-height: 100vh;
    min-width: 100vw;
}


.deck {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 0vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.2s;
    display: flex;
    margin-top: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#card1:hover {
    animation: rotateColors 3s ease-in-out infinite;
}


.card:hover {
    backdrop-filter: blur(31px);
    background-color: rgba(128, 128, 128, 0.157);
}

@media only screen and (max-width: 768px) {
    .card {
        width: calc(50% - 40px);
    }
}

@media only screen and (max-width: 480px) {
    .card {
        width: calc(100% - 40px);
    }
}


.card {
    position: relative;
    overflow: hidden;
}

.card h3 {
    position: absolute;
    top: 10%;
    left: 50%;
    font-family: 'Poppins', sans-serif;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.2s;
}

.card:hover h3 {
    opacity: 0;
}

.card p {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Poppins', sans-serif;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
}

.card:hover {
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.card:hover p {
    opacity: 1;
}

#imgC1{
    width: 300px;
    height: 300px;
    filter: grayscale(100%) sepia(100%) hue-rotate(180deg) saturate(5);
    filter: blur(0px);
    transition: .5s;
}

.card:hover #imgC1{
    filter: grayscale(0%) sepia(0%) hue-rotate(0deg) saturate(10);
    filter: blur(10px);
}


.head2{
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.465);
    opacity: 1;
    position: relative;
    text-align: center;
    transition: .3s;
}
